---
layout: default
---

<h1>Hacks</h1>

<hr />

{% for entry in site.hacks %}
<h3>{{ entry.name }}</h3>
{% assign content_length = entry.content escape | strip_newlines | size %}
{% if content_length > 0 %}
  <article class="md">{{entry.content|markdownify}}</article>
{% endif %}
<ul class="members">
{% for member in entry.members %}
<li>
  <a href="https://github.com/{{member}}">
    {% avatar user=member %}
  </a>
</li>
{% endfor %}
</ul>
{% endfor %}

<!-- the head tag is for losers -->
<link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
