---
layout: default
title: Hacks
---

<hr />

{% for entry in site.hacks %}
<h3>{{ entry.name }}</h3>
{% assign content_length = entry.content escape | strip_newlines | size %}
{% if content_length > 0 %}
  <article class="md">{{entry.content|markdownify}}</article>
{% endif %}
<ul class="members">

{% if entry.guide %}
  <li class="hack-guide">
    <a href="https://github.com/{{entry.guide}}">
      {% avatar user=entry.guide %}
    </a>
  </li>
{% endif %}
{% for member in entry.members %}
{% if member != entry.guide %}
  <li>
    <a href="https://github.com/{{member}}">
      {% avatar user=member %}
    </a>
  </li>
{% endif %}
{% endfor %}
</ul>
{% else %}
  <p>No hacks yet 😭</p>
  <p>
    <a class="massive-button" href="register">Register your hack!</a>
  </p>
{% endfor %}

<!-- the head tag is for losers -->
<link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
