---
--- 

html {
  font-size: 18px;
}

body {
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 36rem;
  margin: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25rem 0;
}
p {
	margin: 0;

	+ p {
		margin-top: 1rem;
	}
}

hr {
  border: 0;
  background: #eee;
  height: 1px;
  width: 80%;
  margin: 1rem 10%;
}

a {
  color: #08f;
  text-decoration: none;

  &:hover {
  	text-decoration: underline;
  }
}

.todo {
  padding: .5rem;
  font-style: italic;
  color: #333;
  opacity: 0.7;

  &::before {
    content: 'TODO: ';
    color: #888;
    font-weight: 800
  }
}

#horse {
  display: block;
  height: 30vh;
}

@media (min-width: 600px) {
  body {
    margin: 2rem auto
  }
  h1 {
    font-size: 4rem;
  }
}
